@model IEnumerable<RockstarsIT.Models.Rockstar>
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<RockstarsIT.Controllers.RockstarsController> Localizer

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-3">ROCKSTARS</h1>

<p>
    <a asp-action="Create" class="btn button">
        @Localizer["index.btn.add"]
        <img class="ml-2" height="32" width="32" src="~/icons/circle-plus-geel.svg"/>
    </a>
</p>
<table class="table table-bordered bg-light">
    <thead class="thead-dark">
    <tr>
        <th>
            @Localizer["index.th.name"]
        </th>
        <th>
            TRIBE
        </th>
        <th>
            @Localizer["index.th.role"]
        </th>
        <th>
            @Localizer["index.th.region"]
        </th>
        <th>
            LINKEDIN
        </th>
        <th>
            @Localizer["index.th.actions"]
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Tribe.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chapter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkedIn)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.RockstarId" class="btn button mr-2">
                @Localizer["index.btn.edit"]
                <img class="ml-2" height="32" width="32" src="~/icons/Pen-geel.svg"/>
            </a>
        </td>
    </tr>
}
    </tbody>
</table>