@model IEnumerable<RockstarsIT.Models.PodcastEpisode>

@{
    ViewData["Title"] = "Index";
    Spotify spotify = new Spotify();
}

<h1 class="mt-3">PODCASTS</h1>
<div class="row">
    <div class="col-md-6  text-left">
        <a asp-action="Create" class="btn button">
            NIEUWE PODCAST
            <img class="ml-2" height="32" width="32" src="~/icons/circle-plus-geel.svg" />
        </a>
        <br />
        <br />
    </div>
    @if (ViewData["DataShowType"].ToString() == "cards" || ViewData["DataShowType"].ToString() == "")
    {
        <div class="col-md-6  text-right">
            <a asp-action="Index" asp-route-view="grid" style="float:right;" class="btn button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                </svg>
            </a>
        </div>

    }
    else if (ViewData["DataShowType"].ToString() == "grid")
    {
        <div class="col-md-6 text-right">
            <a asp-action="Index" asp-route-view="cards" style="float:right;" class="btn button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
                    <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z" />
                </svg>
            </a>
        </div>
    }
</div>
@if (ViewData["DataShowType"].ToString() == "grid")
{
    <div style="overflow-x:auto;">
        <table class="table table-bordered bg-light">
            <thead class="thead-dark">
                <tr>
                    <th>
                        TITEL
                    </th>
                    <th>
                        PREVIEW
                    </th>
                    <th>
                        AUTEUR
                    </th>
                    <th>
                        TRIBE
                    </th>
                    <th>
                        Datum van Publiceren
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Status veranderen
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (item.Title.Length > 50)
                        {
                            <td>
                                @item.Title.Substring(0, 50)...
                            </td>
                        }
                        else
                        {
                            <td>
                                @item.Title
                            </td>
                        }
                        <td>
                            <audio id="music" preload="true">
                                <source src="@spotify.GetPreviewLink(spotify.GetSpotifyLinkId(item.URL))">
                            </audio>
                            <div id="audioplayer">
                                <i id="pButton" class="fas fa-play"></i>
                                <div id="timeline" hidden>
                                    <div id="playhead"></div>
                                </div>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rockstar.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tribe.Name)
                        </td>
                        <td>
                            @if (item.PublishedStatus)
                            {
                                @Html.DisplayFor(modelItem => item.DatePublished)
                            }
                            else
                            {
                                <p class="align-content-center">-----</p>
                            }
                        </td>
                        <td>
                            @if (item.PublishedStatus)
                            {
                                <p>Gepubliceerd</p>
                            }
                            else
                            {
                                <p>Concept</p>
                            }
                        </td>
                        <td>
                            @if (item.PublishedStatus)
                            {
                                <a asp-action="ChangeStatus" asp-route-id="@item.PodcastEpisodeId" asp-route-status="false" class="btn text-black">
                                    <img class="ml-2" height="32" width="32" src="~/icons/x-circle.svg" />
                                </a>
                            }
                            else
                            {
                                <a asp-action="ChangeStatus" asp-route-id="@item.PodcastEpisodeId" asp-route-status="true" class="btn text-black">
                                    <img class="ml-2" height="32" width="32" src="~/icons/checkmark-circle.svg" />
                                </a>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.PodcastEpisodeId" class="btn button mr-2">
                                BEWERKEN
                                <img class="ml-2" height="32" width="32" src="~/icons/Pen-geel.svg" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else if (ViewData["DataShowType"].ToString() == "cards" || ViewData["DataShowType"].ToString() == "")
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xl-3 col-lg-4 col-md-6 d-flex align-items-stretch spaceBetweenArticles">
                <div class="card">
                    <div class="card-body">
                        <audio id="@item.PodcastEpisodeId" style="width: 250px" src="@spotify.GetPreviewLink(spotify.GetSpotifyLinkId(item.URL))"></audio>
                        <div>
                            <button onclick="PlayPause(this.name)" name="@item.PodcastEpisodeId" class="btn btn-link"><i class="fas fa-play" id="pbutton-@item.PodcastEpisodeId"></i></button>
                            <div id="timeline" name="timeline-@item.PodcastEpisodeId">
                                <div id="playhead" name="playhead-@item.PodcastEpisodeId" style="width: 8px; height: 8px; position: absolute;" class="25"></div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <h5 class="text-muted"> @Html.DisplayFor(modelItem => item.Title)</h5>

                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color:#FFE000">
                            <a asp-action="Edit" asp-route-id="@item.PodcastEpisodeId" class="card-link btn button-white">
                                BEWERKEN
                                <img class="ml-2" height="32" width="32" src="~/icons/Pen-geel.svg" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
}
<script>
    
    function PlayPause(name) {
        var player = document.getElementById(name);
        let id = null;
        let elem = document.getElementsByName("playhead-" + name)[0];
        let pos = parseInt(elem.className); //positie ophalen uit classname, wordt in classname per podcast opgeslagen omdat dit kan verschillen per podcast
        let end = document.getElementsByName("timeline-" + name)[0].clientWidth + 25; //plus 25 ivm margin tijdbalk
        let pixels = document.getElementsByName("timeline-" + name)[0].clientWidth / 30 / 100; //berekenen aantal pixels omdat dit verschilt per scherm/resolutie

        if (player.paused)
        {
            player.play();
            document.getElementById("pbutton-" + name).className = "";
            document.getElementById("pbutton-" + name).className = "fas fa-pause";
            
            clearInterval(id);
            id = setInterval(frame, 10);
            function frame() {
              if (pos >= end)
              {
                clearInterval(id);
                player.pause();
                document.getElementById("pbutton-" + name).className = "";
                document.getElementById("pbutton-" + name).className = "fas fa-play";
              }
              else
              {
                pos+= pixels;
                elem.style.left = pos + "px";
                if (player.paused)
                {
                    clearInterval(id);
                    elem.className = pos;
                    player.pause();
                    document.getElementById("pbutton-" + name).className = "";
                    document.getElementById("pbutton-" + name).className = "fas fa-play";
                }
              }
            }
        }
        else
        {
            player.pause();
            document.getElementById("pbutton-" + name).className = "";
            document.getElementById("pbutton-" + name).className = "fas fa-play";
        }
    }


        //Scrollable Table
        $(document).ready(function () {
          $('#dtHorizontalVerticalExample').DataTable({
            "scrollX": true,
            "scrollY": 200,
          });
          $('.dataTables_length').addClass('bs-select');
        });
</script>