@model IEnumerable<RockstarsIT.Models.Tribe>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<style>
    .button {
        background-color: #FFE000;
        padding: 10px 24px;
        color: #000000;
        font-family: "DIN 2014";
        font-weight: bold;
        border: 0px;
        font-size: 14px;
    }
    .svg {
        margin-bottom: 3px;
        margin-left: 6px;
        transition: .2s;
    }
    a:hover {
        text-decoration: none;
        color: black;
    }
    .button:hover svg {
        margin-left: 11px;
        margin-right: -5px;
  
    }



</style>

<p>
    <a asp-action="Create">New Tribe</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TribeId" class="button">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TribeId" class="button">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TribeId" class="button">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="button">TRIBE TOEVOEGEN 
    <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
    <path d="M0 0h24v24H0z" fill="none" /><path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
        </svg>
    </a>