@model IEnumerable<RockstarsIT.Models.Tribe>
@{
    ViewData["Title"] = "Index";
}

<style>
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

@section Scripts {
<script>

         // Adding articleId to FormData object

         jQuery(document).ready(function() {
        var data = new FormData();
        $(document).on("click", "#myBtn", function(e) {
            $("#myModal").show();
            data.append('id', $(this).parents().find("#item_TribeId").val());
            //data.append('id', '1');

            $.ajax({
                async: true,
                type: "POST",
                //dataType: "json",
                url: "/Tribe/GetTribeContent",
                data: data,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                success: function(response) {

                    for (const element of response.Articles) {
                        console.log(element.Title);
                        $('#ArticlesBody').append("<tr>\
                                                <td> <input type=checkbox name=id value="+element.Id+","+Article+"> </td>\
                                                <td>" + element.Title + "</td>\
                                                </tr>");
                    }
                    for (const element of response.Videos) {

                        console.log(element.Title);
                        $('#VideosBody').append("<tr>\
                                                <td> <input type=checkbox name=id value="+element.Id+","+Video+"> </td>\
                                                <td>" + element.Title +"</td>\
                                                </tr>");
                    }
                    for (const element of response.Podcasts) {

                        console.log(element.Title);
                        $('#PodcastsBody').append("<tr>\
                                                <td> <input type=checkbox name=id value="+element.Id+","+Podcast+"> </td>\
                                                <td>" + element.Title + "</td>\
                                                </tr>");
                    }
                },
                error: function(response) {
                    alert("Publiceren is niet gelukt");
                }
            });
        });
        $("#closeModal").click(function(e) {
            $('#myModal').hide();
            $('#ArticlesBody').empty();
            $('#VideosBody').empty();
            $('#PodcastsBody').empty();
        });
    });
</script>
}

<h1>TRIBES</h1>

<p>

    <a class="btn button" asp-action="Create">
        NIEUWE TRIBE
        <img class="ml-2" height="32" width="32" src="~/icons/circle-plus-geel.svg"/>
    </a>
</p>
<table class="table table-bordered bg-light">
    <thead class="thead-dark">
        <tr>
            <th>
                NAAM
            </th>
            <th>
                BESCHRIJVING
            </th>
            <th>
                SPOTIFY LINK
            </th>
            <th>
                ACTIES
            </th>
            <th>
                PUBLICATIE
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TribeId">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spotify)
                </td>
                <td>
                    @using (Html.BeginForm(FormMethod.Post))
                    {
                        <a asp-action="Details" asp-route-id="@item.TribeId" class="btn button mr-2">
                            DETAILS
                            <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
                            </svg>
                        </a>

                        <a onclick="ConfirmDelete(this.name)" name="@item.TribeId" class="btn button-cancel" href="#">
                            VERWIJDEREN
                            <svg class="arrowsSvg-cancel" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
                            </svg>
                        </a>
                        <input type="submit" asp-action="Delete" asp-route-id="@item.TribeId" hidden id="@item.TribeId" />
                    }
                </td>
                <td>
                    @if (item.PublishedStatus)
                    {
                        <p>Gepubliceerd</p>
                    }
                    else
                    {
                        <p>Concept</p>
                    }
                </td>
                <td>
                    @if (item.PublishedStatus)
                    {
                        <a asp-action="ChangeStatus" asp-route-id="@item.TribeId" asp-route-status="false" class="btn btn-danger">Depubliceren</a>
                    }
                    else
                    {
                        <a id="myBtn" class="btn btn-success">Publiceren</a>
                        <input type="hidden" asp-for="@item.TribeId" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="ChangeTribeContentStatus">
                <div class="modal-body">
                    <table>
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    ARTIKELEN
                                </th>
                            </tr>
                    </thead>
                    <tbody id="ArticlesBody"></tbody>
                    </table>
                    <h2>Videos</h2>
                    <table>
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    VIDEO'S
                                </th>
                            </tr>
                        </thead>
                        <tbody id="VideosBody"></tbody>
                    </table>
                    <h2>Podcasts</h2>
                    <table>
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    PODCASTS
                                </th>
                            </tr>
                        </thead>
                        <tbody id="PodcastsBody"></tbody>
                    </table>
                </div>
            </form>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Opslaan</button>
            </div>
        </div>
    </div>
</div>

<script>
    function ConfirmDelete(id) {
        const conbtn = document.getElementById("test");
        const conbtn2 = document.getElementById(id);

        let text = "Weet je zeker dat u deze tribe wilt verwijderen?"
        if (confirm(text) == true) {
            conbtn2.click();
        }
        else {
            console.log("test");
        }
    }
</script>

