@model IEnumerable<RockstarsIT.Models.Tribe>
@{
    ViewData["Title"] = "Index";
}

<h1>TRIBES</h1>

<p>

    <a class="btn button" asp-action="Create">
        NIEUWE TRIBE
        <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
        </svg>
    </a>
</p>
<table class="table table-bordered bg-light">
    <thead class="thead-dark">
        <tr>
            <th lang="nl">
                NAAM
            </th>
            <th lang="en-uk">
                NAME
            </th>
            <th lang="nl">
                BESCHRIJVING
            </th>
            <th lang="en-uk">
                DESCRIPTION
            </th>
            <th>
                SPOTIFY LINK
            </th>
            <th lang="nl">
                ACTIES
            </th>
            <th lang="en-uk">
                ACTIONS
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.TribeId">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spotify)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.TribeId" class="btn button mr-2">
                    DETAILS
                    <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
                    </svg>
                </a>
            </td>
        </tr>}
    </tbody>
</table>