@model IEnumerable<RockstarsIT.Models.Tribe>
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<RockstarsIT.Controllers.TribeController> Localizer
@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-3">TRIBES</h1>

<p>

    <a class="btn button" asp-action="Create">
        @Localizer["index.btn.add"]
        <img class="ml-2" height="32" width="32" src="~/icons/circle-plus-geel.svg"/>
    </a>
</p>
<table class="table table-bordered bg-light">
    <thead class="thead-dark">
        <tr>
            <th>
                @Localizer["index.th.name"]
            </th>
            <th>
                @Localizer["index.th.description"]
            </th>
            <th>
                @Localizer["index.th.actions"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TribeId">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @* <td> *@
                @*     @Html.DisplayFor(modelItem => item.Spotify) *@
                @* </td> *@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TribeId" class="btn button mr-2">
                        @Localizer["index.btn.edit"]
                        <img class="ml-2" height="32" width="32" src="~/icons/Pen-geel.svg"/>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>