@model RockstarsIT.Models.Podcast

@{
    ViewData["Title"] = "Edit";
    Spotify spotify = new Spotify();
}

<h1 class="mt-3">PODCAST BEWERKEN</h1>

<h4>Podcast</h4>
<hr />
<form asp-action="Edit" asp-route-id="@Model.PodcastId">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input hidden asp-for="PodcastId" value="@Model.PodcastId"></input>
    <div class="row g-3">
        <div class="col-md-6 mb-3">
            <label asp-for="URL" class="control-label">URL</label>
            <input asp-for="URL" class="form-control"/>
            <span asp-validation-for="URL" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="Tribe" class="control-label">Tribe</label>
            <select asp-for="TribeId" class="form-control" asp-items="ViewBag.TribeNames"></select>
            <span asp-validation-for="TribeId" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="Title" class="control-label" lang="nl">Title</label>
            <label asp-for="Title" class="control-label" lang="en-uk">Title</label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="Rockstar" class="control-label" lang="nl">Rockstar</label>
            <label asp-for="Rockstar" class="control-label" lang="en-uk">Author</label>
            <select asp-for="RockstarId" class="form-control" asp-items="ViewBag.RockstarNames"></select>
            <span asp-validation-for="RockstarId" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="Description" class="control-label" lang="nl">Beschrijving</label>
            <label asp-for="Description" class="control-label" lang="en-uk">Description</label>
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div>
            <iframe src="@spotify.GetSpotifyEmbeddedLink(Model.URL)" height="160" width="600" frameBorder="0" title="description"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm(FormMethod.Post))
            {
                <button class="btn button mr-3" type="submit" lang="nl">
                    WIJZIGINGEN OPSLAAN
                    <img class="ml-2" height="32" width="32" src="~/icons/save-zwart.svg"/>
                </button>
                <button class="btn button mr-3" type="submit" lang="en-uk">
                    SAVE CHANGES
                    <img class="ml-2" height="32" width="32" src="~/icons/save-zwart.svg"/>
                </button>
                @if (@Model.PublishedStatus)
                {
                    <a asp-action="ChangeStatus" asp-route-id="@Model.PodcastId" asp-route-status="false" class="btn button mr-3">
                        CONCEPT
                        <img class="ml-2" height="32" width="32" src="~/icons/x-circle.svg"/>
                    </a>
                }
                else
                {
                    <a asp-action="ChangeStatus" asp-route-id="@Model.PodcastId" asp-route-status="true" class="btn button mr-3">
                        PUBLICEREN
                        <img class="ml-2" height="32" width="32" src="~/icons/checkmark-circle.svg"/>
                    </a>
                }
                <a onclick="ConfirmDelete(this.name)" href="#" name="@Model.PodcastId" class="btn button-cancel">
                    VERWIJDEREN
                    <img class="ml-2" height="32" width="32" src="~/icons/bin-wit.svg"/>
                </a>
                <input type="submit" asp-action="Delete" asp-route-id="@Model.PodcastId" hidden id="@Model.PodcastId"/>
            }
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn button-cancel mt-3">
        TERUG NAAR OVERZICHT
        <svg class="arrowsSvg-cancel" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"/>
        </svg>
    </a>
</div>
<script>
    function ConfirmDelete(id) {
        const conbtn2 = document.getElementById(id);

        let text = "Weet je zeker dat u deze podcast wilt verwijderen?"
        if (confirm(text) == true) {
            conbtn2.click();
        }
        else {
            console.log("test");
        }
    }
</script>
