@model RockstarsIT.Models.Podcast

@{
    ViewData["Title"] = "Edit";
    Spotify spotify = new Spotify();
}

<h1 class="mt-3">PODCAST BEWERKEN</h1>

<hr />
<form asp-action="Edit" asp-controller="Podcast" asp-route-id="@Model.PodcastId">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input hidden asp-for="PodcastId" value="@Model.PodcastId"/>
    <div class="row g-3">
        <div class="col-md-6 lg-6 mb-3">
            <label asp-for="URL" class="control-label">Url</label>
            <input asp-for="URL" class="textbox w-100"/>
            <span asp-validation-for="URL" class="text-danger"></span>
        </div>        
        <div class="col-md-6 mb-3">
            <label asp-for="Title" class="control-label">Titel</label>
            <input asp-for="Title" class="textbox w-100"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="Description" class="control-label">Beschrijving</label>
            <textarea asp-for="Description" class="textarea w-100" rows="5"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm(FormMethod.Post))
            {
                <button class="btn button mr-3 mb-3" type="submit" value="Edit">
                    <a>WIJZIGINGEN OPSLAAN</a>
                    <img class="ml-2" height="32" width="32" src="~/icons/save-zwart.svg"/>
                </button>
                @if (@Model.PublishedStatus)
                {
                    <a asp-action="ChangeStatus" asp-route-id="@Model.PodcastId" asp-route-status="false" class="btn button mr-3 mb-3">
                        <label class="text-black">CONCEPT</label>
                        <img class="ml-2" height="32" width="32" src="~/icons/x-circle.svg"/>
                    </a>
                }
                else
                {
                    <a asp-action="ChangeStatus" asp-route-id="@Model.PodcastId" asp-route-status="true" class="btn button mr-3 mb-3">
                        <label class="text-black">PUBLICEREN</label>
                        <img class="ml-2" height="32" width="32" src="~/icons/checkmark-circle.svg"/>
                    </a>
                }
                <a onclick="ConfirmDelete(this.name)" href="#" name="@Model.PodcastId" class="btn button-cancel mb-3">
                    <label>VERWIJDEREN</label>
                    <img class="ml-2" height="32" width="32" src="~/icons/bin-wit.svg"/>
                </a>
                <input type="submit" asp-action="Delete" asp-route-id="@Model.PodcastId" hidden id="@Model.PodcastId"/>
            }
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn button-cancel mt-3">
        <label>TERUG NAAR OVERZICHT</label>
        <svg class="arrowsSvg-cancel" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"/>
        </svg>
    </a>
</div>
<script>
    function ConfirmDelete(id) {
        const conbtn2 = document.getElementById(id);
        let text = "Weet je zeker dat u deze podcast wilt verwijderen?"
        if (confirm(text) == true) {
            conbtn2.click();
        }
        else {
            console.log("test");
        }
    }
    function OpenEditor(updatefield) {
        let editelements = document.getElementsByName(updatefield);
        for(let i = 0; i < editelements.length;i++){
            if(editelements[i].hidden == true){
              editelements[i].hidden = false;
              document.getElementById("editimg").src = '/icons/x-circle.svg'
            }
            else{
              editelements[i].hidden = true;
              document.getElementById("editimg").src = '/icons/Pen-geel.svg'
        }
        }
    }
</script>