@model RockstarsIT.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>ARTIKEL DETAILS</h1>

<div>
    <hr />
    <dl class="row">
        <dd class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rockstar)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rockstar.RockstarId)
        </dd>
        <dd class = "col-sm-2">
            Titel
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dd class = "col-sm-2">
            Beschrijving
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd class = "col-sm-2">
            Auteur
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dd class = "col-sm-2">
            Afbeeldingen
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Images)
        </dd>
        <dd class = "col-sm-2">
            Inhoud
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArticleId" class="btn button">
        BEWERKEN
        <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
        </svg>
    </a>
    <br>
    <a asp-action="Delete" asp-route-id="@Model.ArticleId" class="btn button">
        VERWIJDEREN
        <svg class="arrowsSvg-cancel" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
        </svg>
    </a>
    <br>
    <a asp-action="Index" class="btn button-cancel">
        TERUG NAAR OVERZICHT
        <svg class="arrowsSvg-cancel" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
        </svg>
    </a>
</div>
