@model RockstarsIT.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1 class="mt-3">ARTIKEL DETAILS</h1>

<div>
    <hr />
    <dl class="row">
        <dd class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rockstar)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rockstar.RockstarId)
        </dd>
        <dd class = "col-sm-2">
            Titel
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dd class = "col-sm-2">
            Beschrijving
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd class = "col-sm-2">
            Afbeeldingen
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Images)
        </dd>
        <dd class = "col-sm-2">
            Inhoud
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
</div>
<div>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <a asp-action="Edit" asp-route-id="@Model.ArticleId" class="btn button mr-3">
            BEWERKEN
            <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"/>
            </svg>
        </a>
        @if (@Model.PublishedStatus)
        {
            <a asp-action="ChangeStatus" asp-route-id="@Model.ArticleId" asp-route-status="false" class="btn button mr-3">
                CONCEPT
                <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"/>
                </svg>
            </a>
        }
        else
        {
            <a asp-action="ChangeStatus" asp-route-id="@Model.ArticleId" asp-route-status="true" class="btn button mr-3">
                PUBLICEREN
                <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"/>
                </svg>
            </a>
        }
        <a onclick="ConfirmDelete(this.name)" href="#" name="@Model.ArticleId" class="btn button-cancel">
            VERWIJDEREN
            <svg class="arrowsSvg-cancel" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"/>
            </svg>
        </a>
        <input type="submit" asp-action="Delete" asp-route-id="@Model.ArticleId" hidden id="@Model.ArticleId"/>
    }
    <a asp-action="Index" class="btn button-cancel mt-3 mt-3">
        TERUG NAAR OVERZICHT
        <svg class="arrowsSvg-cancel" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"/>
        </svg>
    </a>
    <br/>
</div>

<script>
    function ConfirmDelete(id) {
        const conbtn2 = document.getElementById(id);

        let text = "Weet je zeker dat u deze podcast wilt verwijderen?"
        if (confirm(text) == true) {
            conbtn2.click();
        }
        else {
            console.log("test");
        }
    }
</script>
