@model RockstarsIT.Models.Article

@{
    ViewData["Title"] = "Translate Article";
}

<h1 class="mt-3">ARTIKEL VERTALEN</h1>

<div class="row">
    <div class="col-md-6 mb-3">
        <div class="form-group">
            <input type="hidden" asp-for="ArticleId" />
            <label class="control-label">Taal</label>
            <select class="form-control" id="languagedropdown" asp-items="ViewBag.Languages"></select>
        </div>
        <div class="form-group">
            <label class="control-label">Titel</label>
            <input type="text" class="textbox w-100" id="title" disabled name="Title" value="Tekst">
        </div>
        <div class="form-group">
            <label class="control-label">Teksten</label>
            <div class="article-text-container">
                <ul class="nav nav-tabs" id="tab-list">
                    @if (Model.ArticleTextBlocks != null)
                    {
                        @if (Model.ArticleTextBlocks.Count > 0)
                        {
                            int count = 1;
                            foreach (var item in Model.ArticleTextBlocks)
                            {
                                @if (item == Model.ArticleTextBlocks.First())
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" data-id="@item.ArticleTextBlockId" data-toggle="tab" href="#tab-@item.ArticleTextBlockId">
                                            @count
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" data-id="@item.ArticleTextBlockId" data-toggle="tab" href="#tab-@item.ArticleTextBlockId">
                                            @count
                                        </a>
                                    </li>
                                }
                                count++;
                            }
                        }
                    }
                </ul>
                <div class="tab-content" id="TabContent">
                    @if (Model.ArticleTextBlocks != null)
                    {
                        @if (Model.ArticleTextBlocks.Count > 0)
                        {
                            foreach (var item in Model.ArticleTextBlocks)
                            {
                                @if (item == Model.ArticleTextBlocks.First())
                                {
                                    <div class="tab-pane fade show active" id="tab-@item.ArticleTextBlockId">
                                        <textarea class="textarea w-100" rows="5" disabled>@item.Text</textarea>
                                    </div>
                                }
                                else    
                                {   
                                    <div class="tab-pane fade" id="tab-@item.ArticleTextBlockId">
                                        <textarea class="textarea w-100" rows="5" disabled>@item.Text</textarea>
                                    </div>
                                }
                            }
                        }
                   }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="form-group">
            <label class="control-label">Taal</label>
            <select class="form-control" id="TranslateLanguageDropDown" asp-items="ViewBag.Languages"></select>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label">Titel</label>
            <input asp-for="Title" id="txtTitel" class="textbox w-100" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Teksten</label>
            <div class="article-text-container">
                <ul class="nav nav-tabs" id="tab-list">
                    @if (Model.ArticleTextBlocks != null)
                    {
                        @if (Model.ArticleTextBlocks.Count > 0)
                        {
                            int count = 1;
                            foreach (var item in Model.ArticleTextBlocks)
                            {
                                @if (item == Model.ArticleTextBlocks.First())
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" data-id="@item.ArticleTextBlockId" data-toggle="tab" href="#tab-@item.ArticleTextBlockId">
                                            @count
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" data-id="@item.ArticleTextBlockId" data-toggle="tab" href="#tab-@item.ArticleTextBlockId">
                                            @count
                                        </a>
                                    </li>
                                }
                                count++;
                            }
                        }
                    }
                </ul>
                <div class="tab-content" id="TabContent">
                    @if (Model.ArticleTextBlocks != null)
                    {
                        @if (Model.ArticleTextBlocks.Count > 0)
                        {
                            foreach (var item in Model.ArticleTextBlocks)
                            {
                                @if (item == Model.ArticleTextBlocks.First())
                                {
                                    <div class="tab-pane fade show active" id="tab-@item.ArticleTextBlockId">
                                        <textarea class="editor">@item.Text</textarea>
                                    </div>
                                }
                                else    
                                {   
                                    <div class="tab-pane fade" id="tab-@item.ArticleTextBlockId">
                                        <textarea class="editor">@item.Text</textarea>
                                    </div>
                                }
                            }
                        }
                   }
                </div>
       
                <button id="save-textblock" class="btn button">OPSLAAN</button>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArticleId" class="btn button-cancel ml-3 mt-3">
        TERUG NAAR ARTIKEL BEWERKEN
        <svg class="arrowsSvg-cancel" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
        </svg>
    </a>
   <a asp-action="Translate" asp-route-id="@Model.ArticleId" class="btn button mr-2 mt-3">
        VERTALEN
   </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        jQuery(document).ready(function() {
            //hide first option and make second option selected
            $('#TranslateLanguageDropDown option:eq(1)').attr('selected', 'selected');
            $('#TranslateLanguageDropDown').find('option').first().hide();  

            var hiddenLanguage = $('#languagedropdown option:selected').val();

            $("#languagedropdown").change(function () {
                var selectedLanguage = $('#languagedropdown option:selected').val();

                $("#TranslateLanguageDropDown option[value=" + selectedLanguage + "]").hide();
                $("#TranslateLanguageDropDown option[value=" + hiddenLanguage + "]").show();
                $("#TranslateLanguageDropDown").val($('#TranslateLanguageDropDown option:not([style*="display: none"])').val());
                hiddenLanguage = $('#languagedropdown option:selected').val();

                // change first section with selected language
                $.ajax({  
                    async: true,
                    type: "GET",
                    url: "/Article/GetContentWithLanguage",             
                    data: { articleId: $('#ArticleId').val(), languageId: selectedLanguage },
                    success: function (response) {  
                        if (response.Success) {
                            $('#title').val(response.ArticleContent);

                            for (element )
                            {
                                var tabID = $("#tab-list li").length;
                                var html = '<li class="nav-item"><a class="nav-link" data-id="' + response.ArticleTextblockId + '" data-toggle="tab" href="text-' + tabID + '" role="tab">' + tabID + '<button class="close" type="button" title="Remove this page">×</button></a></li>';
                                $('#last-child').before(html);
                                tabID++;
                            }
                        }
                    },  
                    error: function (response) { 
                        alert("failed to get article content");  
                    }  
                });  
            });
        });
    </script>
}