@model IEnumerable<RockstarsIT.Models.Video>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn button">NIEUWE VIDEO
        <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
             <path d="M0 0h24v24H0z" fill="none" />
             <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
        </svg>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Titel
            </th>
            <th>
                Beschrijving
            </th>
            <th>
                Video ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tribe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rockstar)
            </th>
            <th>
                Datum van Publiceren
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.Link.Length == 11)
                    {
                                <p>YouTube: @item.Link</p>
                    }
                    else if (item.Link.Length == 9)
                    {
                                <p>Vimeo: @item.Link</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tribe.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rockstar.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePublished)
                </td>
                <td>
                @using (Html.BeginForm(FormMethod.Post))
                {
                    <a asp-action="Edit" asp-route-id="@item.VideoId" class="btn button">BEWERKEN
                        <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                         <path d="M0 0h24v24H0z" fill="none" />
                         <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
                     </svg>
                    </a> 
                    <a asp-action="Details" asp-route-id="@item.VideoId" class="btn button mr-2">DETAILS
                        <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                         <path d="M0 0h24v24H0z" fill="none" />
                         <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
                     </svg>
                    </a> 
                    <a onclick="ConfirmDelete(this.name)" href="#" name="@item.VideoId" class="btn button-cancel">
                        VERWIJDEREN
                        <svg class="arrowsSvg-cancel" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
                        </svg>
                    </a>
                    <input class="btn button-cancel" type="submit" asp-action="Delete" asp-route-id="@item.VideoId" hidden id="@item.RockstarId" />
                 }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function ConfirmDelete(id) {
        const conbtn = document.getElementById("test");
        const conbtn2 = document.getElementById(id);

        let text = "Weet je zeker dat u deze video wilt verwijderen?"
        if (confirm(text) == true) {
            conbtn2.click();
        }
        else {
            console.log("test");
        }
    }
</script>
